@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(240, 240, 240);
  margin: 0px 0px;
  color: rgb(30, 30, 30);
  line-height: 200%
}

html {
  background-color: rgb(240, 240, 240) !important;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #429152;
  margin-bottom: 0px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  color: #429152;
}

a {
  font-weight: bold;
  text-decoration: none;
}

.btn-green {
  display: block;
  width: 50%;
  background-color: #156102;
  color: #fdfdfd;
  padding: 8px 24px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgb(0, 0, 0, .1);
}

.btn-green:hover {
  color: white;
  transition: .3s;
  border: solid 1px #e4e4e4;
  box-shadow: 0 5px 15px rgb(0, 0, 0, .6);
}

.text-card {
  background-color: white;
  padding: 30px;
  box-shadow: 0 5px 15px rgb(0, 0, 0, .1);
  margin: 30px auto;
  text-align: center;
  border-radius: 4px;
}

@media (max-width: 1360px) {
  .text-card {
    width: 600px;
  }
}

@media (max-width: 680px) {
  .text-card {
    width: 300px;
  }
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card > img {
  height: 120px;
  border-radius: 50%;
  border: solid 1px black;
  margin-bottom: 20px;
}

.display-inline {
  padding: 0px;
}

.display-inline > li {
  display: inline;
  list-style: none;
  font-size: 26px;
}

.display-inline > li:nth-child(2) {
  margin: 0px 16px;
}

i {
  color: #156102;
}
